@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
#352F44 
#5C5470
#B9B4C7
#FAF0E6
*/

@layer base {
	html {
		--text-color: #352f44;
		--background-color: #faf0e6;

		background-color: var(--background-color);
		color: var(--text-color);

		transition:
			color 500ms,
			background-color 500ms;

		font-family:;
	}

	html.dark {
		--text-color: #ccc;
		--background-color: #352f44;
	}
}
